<div class="comment clearfix">
  <div class="comment_content">
    <p class="comment_name"><strong><%= comment.name %></strong></p>
    <p class="comment_body"><%= comment.body %></p>
    <p class="comment_time"><%= time_ago_in_words(comment.created_at)%> Ago</p>
  </div>


  <% if current_user.try(:admin?) %>

  <p><%= link_to 'Borrar', [comment.post, comment], method: :delete, class: "button", data:{confirm: '¿Estas seguro de querer borrar este comentario?'} %></p>
  <% end %>
</div>
