<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="usuarios">
        <h1> Usuarios</h1>
        <% @users = User.all %>
        <% @users.each do |user| %>
          <%= link_to user.username, user_path(user.username)%><br>
        <% end %>
      </div>
    </div>
  </div>
</div>
