<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <h1>Perfil: <%= @user.username %></h1>
      <p>Aqui tengo pensado listar las reviews y anime que le gusta, en construcción.</p>
    </div>
  </div>
</div>
