<div class="container">
<p>
  <%= answer.user.username %>
  <% if answer.user.admin == true  %> [Administrador]:
  <% elsif answer.user.moderator == true  %> [Moderador]:
  <% elsif answer.user.uploader == true %> [Uploader]:
  <% elsif answer.user.admin == false || answer.user.moderador == false || answer.user.uploader == false  %> [Member]:
  <% end %>
  <p><%= answer.content  %></p>
  <% if can? :destroy, answer%>
  <%= link_to "Borrar", question_answer_path(answer.question, answer), method: :delete %>
  <% end %>
</p>
</div>
