<div id="anohana">

 
  <div class="container principal contenedor">
    <article>
      <h2 class="titulo">Sinopsis</h2>
      <p class="fecha">04 de Noviembre de 2016</p>
      <p style="line-height: 2em; font-size: 15pt">Un grupo de amigos de la infancia se separa. Jintan, uno de los del grupo, deberá reunir a sus antiguos amigos de la infancia, para llevar a cabo una misión relacionada con una amiga del grupo, Menma.</p>
    </article>


    <article>
      <h2 class="titulo">Ficha tecnica</h2>
      <p class="fecha">04 de Noviembre de 2016</p>
      <p ALIGN=center style="font-size: 16pt"> 
<strong class="color azul">Nombre Original:</strong>あの日見た花の名前を僕達はまだ知らない/Ano Hi Mita Hana no Namae wo Bokutachi wa Mada Shiranai.<br><strong class="color verde">Uploader:</strong> VengadorWeb.<br><strong class="color morado">Género:</strong> Escolar, Recuentos de la vida, Drama, Romance.<br><strong class="color amarillo">Episodios:</strong>11/11.<br><strong class="color naranja">Año:</strong>2011.<br><strong class="color verde2">Resolución:</strong>1280x720p.<br><strong class="color marron">Formato:</strong> MP4.<br><strong class="color azul3">Idioma:</strong> Japonés.<br><strong class="color verde3">Subtítulos:</strong> Español.<br><strong class="color azul4">Hosting:</strong> Mega.<br><strong class="color azul">Peso por capitulo:</strong>120MB.<br><strong class="color naranja">Peso Total:</strong>1.30GB.<br><strong class="color rojo">Contraseña:</strong> Sin contraseña :)<br>
</p>
</article>



    <article>
<h2 class="titulo">Capturas:
<p class="color rojo">Clic en la imagen para aumentar, doble clic para reducir.</p>
<h2>
<TABLE BORDER=1 WIDTH=300>

<TR>
<TD WIDTH=1000>
  <img onclick="javascript:this.width=400;this.height=400" ondblclick="javascript:this.width=200;this.height=200" src="/assets/anime/capturas/anohana/1.jpg" width="200" height="200"/>
</TD>

<TD WIDTH=1000>

  <img onclick="javascript:this.width=400;this.height=400" ondblclick="javascript:this.width=200;this.height=200" src="/assets/anime/capturas/anohana/2.jpg" width="200" height="200"/>
</TD>

<TD>
  <img onclick="javascript:this.width=400;this.height=400" ondblclick="javascript:this.width=200;this.height=200" src="/assets/anime/capturas/anohana/3.jpg" width="200" height="200"/>
</TD>
<TD WIDTH=1000>
  <img onclick="javascript:this.width=400;this.height=400" ondblclick="javascript:this.width=200;this.height=200" src="/assets/anime/capturas/anohana/4.jpg" width="200" height="200"/>
</TD>
</TR>
</TABLE>
    </article>


     <article align="center">

  
<br>
<div class="text-center">
    <a href="http://sh.st/6XczH" target="_blank" class="boton">Descargar</a><br>
    <%=image_tag "/assets/botonmega.png", :class => "botonmega"%>
    <br><br>
</div>



</article>

</div>


  <div id="disqus_thread"></div>
<script>
/**
* RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
* LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');

s.src = '//animegate.disqus.com/embed.js';

s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
 <script id="dsq-count-scr" src="//animegate.disqus.com/count.js" async></script>

</div>