<div class="container">
<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Editar Anime</h1>
  </div>

  <div class="panel-body">
<% if current_user.try(:admin?) %>



<%= render 'form' %>
<br>
<%= link_to 'Atras', animes_path, class: "btn btn-primary"  %> |
<%= link_to 'Ver', @anime, class: "btn btn-info"  %> 
<%else%>
<div class="error">
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
<%end%>

</div>
</div>
</div>