<% if current_user.try(:admin?) %>

<h1>Editing Anime</h1>

<%= render 'form' %>
<br>
<%= link_to 'Atras', animes_path, class: "btn btn-primary"  %> |
<%= link_to 'Ver', @anime, class: "btn btn-info"  %> 
<%else%>
<div class="error">
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
<%end%>
