<% if !user_signed_in? %>
<div class="jumbotron">
  <h1>Tu pagina de reseñas de Anime favorita.</h1>
  <p>texto aqui</p>
  <p><%= link_to "Registrate para escribir una reseña", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
  
</div>
<%end%>

<div class="row">
  <% @animes.each do |anime| %>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <%= link_to (image_tag anime.image.url(:medium), class: 'image'), anime %>
    </div>
  </div>
  <% end %>
</div>

<%= will_paginate @animes, renderer: BootstrapPagination::Rails, previous_label: "Anterior", next_label: "Siguiente", inner_window: 3, outer_window:  0%>
