<div class="container">

<% if current_user.try(:admin?) || current_user.try(:moderator?) %>
  <div id="main_content">
    <div id="header">
      <h1 class="titulo-noticias-editar text-center">Editar</h1>


    </div>
    <% flash.each do |name, msg|%>
    <%= content_tag(:div, msg, class: "alert") %>
    <% end %>


<div id="page_wrapper">
<h1>Editar noticia</h1><br>

<%= render 'form' %>

</div>
</div>
<%else%>
<div class="error">
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
<% end %>
</div>
