
<div class="container">
  <div id="main_content">
    <div id="header">
      <h2 class="text-center titulo-noticias">Noticias</h2>

    </div>
    <% flash.each do |name, msg|%>
    <%= content_tag(:div, msg, class: "alert") %>
    <% end %>


<div id="page_wrapper">
<h1>Nueva noticia</h1>

<%= render 'form' %>

</div>
</div>
</div>
