// Place all the styles related to the Animes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.descripcion-anime2{
  font-family: 'Arial', cursive;
  color: #000;
  font-size: 13px;
}
.titulo-uploader{
    font-family: 'Arial', cursive;
    color: #000 !important;
    font-size: 12px;
}
.titulo-uploader:hover{
  cursor: pointer;
  color: #22A7F0 !important;
  transition: .5s;
}


.resolucion-anime2{
  font-family: 'Arial', cursive;
  color: #000 !important;
  font-size: 16px;
}

.titulo-anime2{
    font-family: 'Lobster', cursive;
    color: #000 !important;
    font-size: 23px;
}
.titulo-anime:hover2{
  cursor: pointer;
  color: #22A7F0 !important;
  transition: .5s;
}
