/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";



  body{
  background-image: url('background3.png');
  padding-top: 65px;/*porque es necesario para el menu fixed-top*/
  }


  @media (min-width: 200px) {
    h1 {font-size: 3.5rem;}
    h2 {font-size:2.5rem;} /*1rem = 16px*/
    h3 {font-size: 2rem;}
    p{font-size: 2rem;}
  }

  @media (min-width: 440px) {
    h1 {font-size: 3.5rem;}
    h2 {font-size:2.5rem;} /*1rem = 16px*/
    h3 {font-size: 2rem;}
    p{font-size: 2rem;}
  }

  @media (min-width: 544px) {
    h1 {font-size: 3rem;}
    h2 {font-size:2.5rem;} /*1rem = 16px*/
    h3 {font-size: 2rem;}
    p{font-size: 2rem;}
  }

  @media (min-width: 768px) {
    h1 {font-size: 3rem;}
    h2 {font-size:2.5rem;} /*1rem = 16px*/
    h3 {font-size: 2rem;}
    p{font-size: 2rem;}
  }

  @media (min-width: 992px) {
    h1 {font-size: 3.5rem;}
    h2 {font-size:2.5rem;} /*1rem = 16px*/
    h3 {font-size: 2rem;}
    p{font-size: 2.5rem;}
  }

  @media (min-width: 1200px) {
    h1 {font-size: 3.5rem;}
    h2 {font-size:3rem;} /*1rem = 16px*/
    h3 {font-size: 2.5rem;}
    p {font-size: 2.5rem;}
  }


  .contenedor{
    margin-top: 20px;
  }


  .portada img{
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px #DADFE1 solid;
    box-shadow: 0 10px 16px -6px #22313F;
  }

  .bienvenida{
    position: fixed;
    margin-top: 0;
    margin-right: 0 !important;
  }
  .bienvenida img{
    width: 250px;
    height: 300px;
  }

  .bienvenida_titulo{
    font-family: 'Fugaz One', cursive;
    -webkit-transition-duration: 1s;
  }
  .bienvenida_titulo:hover{
    cursor: pointer;
    color:#22A7F0;
  }

  .jumbotron{
      position: relative;
      padding:0 !important;
      margin-top:10px !important;
      background: #ECECEC;
      margin-top: 23px;
      text-align:center;
      margin-bottom: 0 !important;
      border: 1px #DADFE1 solid;
      box-shadow: 0 10px 16px -6px #22313F;

  }
  .container-fluid{
      padding:0 !important;
  }
  .col-xs-4{
      background:rgba(157,52,99,0.7);
  }

  .head {

  }
  .content {

  }
  .slide {

  }


  .fa {
   width: 20px;
   display: block;
   text-align: center;
   color:#000;
   text-rendering: auto;
   -webkit-font-smoothing: antialiased;
  }

  .bounce {
    margin-top: -25px;
   position: relative;
   left: 75% ;
   width: 25px;
   height: 25px ;
   border: 2px solid #000;
   -webkit-border-radius:50%;
   -moz-border-radius:50%;
   -ms-border-radius:50%;
   border-radius:50%;
   animation: bounce 2s infinite;
   -webkit-animation: bounce 2.5s infinite;
   -moz-animation: bounce 2.5s infinite;
   -o-animation: bounce 2.5s infinite;
  }

  @-webkit-keyframes bounce {
   0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
   40% {-webkit-transform: translateY(-15px);}
  }

  @-moz-keyframes bounce {
   0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
   40% {-moz-transform: translateY(-15px);}
  }

  @-o-keyframes bounce {
   0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
   40% {-o-transform: translateY(-15px);}
  }
  @keyframes bounce {
   0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
   40% {transform: translateY(-15px);}

  }


.error{
background: url(/assets/error.png) no-repeat center center fixed;
width:auto;

}





.btn-group{
  margin-top: 4.5px;
}


h1,h2,h3,h4,h5,h6{
  font-weight: 500;
}

a{
  text-decoration: none;
  color: inherit;
}


#main_content {
  margin-left: 20px;
  margin-right: 20px;
  background: #34495E;
  color: #fff;
  padding: 10px 10px 10px 10px;
  #header {
    padding: 1em 3em;
    font-size: 1.5em;
    border-bottom: 1px solid #d6dce0;
    background: #22313F;
    color: #fff;
    p {
      display: inline;
        color: #fff;
    }
    a {
      color: #fff;
      text-decoration: none;
    }
    .buttons {
      float: right;
      margin-top: -36px;
      .button {

        font-size: .8em;
        margin-left: .5em;
      }
    }
  }
  .post_wrapper {
    padding: 3em;
    border-bottom: 1px solid #d6dce0;
    .title {
      margin: 0;
        color: #fff !important;
      a {
        font-weight: 500;
        text-decoration: none;
        color: #fff;
        font-size: 1.5em;
        &:hover {
          color: #33acb7;
        }
      }
    }
    .date_and_author {
      color: #9eafba;
      margin: .5em 0 0 0;
    }
  }
  #post_content {
    padding: 1em 3em;
    .title {
      font-weight: 500;
      text-decoration: none;
      color: #2a2f35;
      font-size: 2.5em;
      margin-bottom: 0;
    }
    .body {

      font-size: 1.5em;
      line-height: 1.75;
    }
    .date_and_author {
      color: #9eafba;
      margin: .5em 0 2em 0;
    }
    #comments {
      h2 {
        margin: 3em 0 1em 0;
        border-bottom: 1px solid #d6dce0;
        padding-bottom: 0.5em;
      }
      h3 {
        margin-top: 2em;
      }
      .comment {

        border-bottom: 1px solid #d6dce0;
        padding: 1.5em 2em;
        .clear_both {
          clear: both;
        }
        &:after {
          clear: both;
        }
        .comment_content {

          float: left;
          .comment_name {
            margin: 1em 0 0 0;
            font-size: 0.7em;
            text-transform: uppercase;

          }
          .comment_body {
            font-size: 1.5em;
            margin: 0.2em 0 0 0;

          }
          .comment_time {
            margin-top: 1.2em;
            font-size: .8em;
          }
        }
        .button {
          float: right;
        }
      }
      input[type="text"], textarea {
        width: 50%;
      }
    }
  }
  #page_wrapper {

    padding: 3em;
    #profile_image {
      width: 300px;
      float: left;
      margin-right: 2em;
      img {
        width: 100%;
        border-radius: 0.35em;
      }
    }
    #content {
      h1 {
        font-weight: 500;
      }
      p {
        font-size: 1.1em;
        line-height: 1.75;
      }
      a {
        color: #33acb7;
        font-weight: 700;
        text-decoration: none;
      }
    }
  }
  .links {
    margin: 2em 0;
  }
  input[type="text"], input[type="email"], input[type="password"], textarea {
    width: 90%;
    color: #000 !important;
    border: 1px solid #d6dce0;
    border-radius: .35em;
    margin-top: 10px;
    padding: .5em 1em;
    line-height: 1.75;
  }
  input[type="text"] {
    height: 50px;
    color: #000 !important;
  }
  textarea {
    min-height: 180px;
    color: #000 !important;

  }
  input[type="submit"] {
    outline: none;
    background: transparent;
    border: 1px solid #d6dce0;
    padding: .5em 1.5em;
    font-size: 1.1em;
    border-radius: 1.5em;
    margin-left: .5em;
    &:hover {
      border: 1px solid #33acb7;
      color: #33acb7;
    }
  }
}



.noticias{
  color: #000 !important;
  font-size: 1.5em;
}




#disqus_thread{
  background:rgba(0,0,0,.9);
  padding:10px;
}



.capturas img{
  width: 700px;
  height: 600px;
  margin-bottom:10px;
}



div.img1 {
  font-family:oswald, helvetica, arial, sans-serif;
  background: url(/assets/images/anime/fondos/anohana.jpg);
  min-width: 500px;
  max-width: 1700px;
  background-size:cover;
  background-attachment: fixed;
  background-position:0 0px;
  z-index: 2;
}


.titulo-menu{
    font-family: 'Lobster', cursive; /*Permanent+Marker|Oswald|Chewy|Kaushan+Script|Anton|Lobster|Rock+Salt*/
    color: #fff !important;
    font-size: 25px;
    text-transform: capitalize;

}
.titulo-menu:hover{
  cursor: pointer;
}

.titulo-anime{
    font-family: 'Lobster', cursive;
    color: #000 !important;
    font-size: 25px;
}
.titulo-anime:hover{
  cursor: pointer;
  color: #22A7F0 !important;
  transition: .5s;
}

.subtitulos{
    font-family: 'Lobster', cursive;
    color: #000 !important;
    font-size: 25px;
}
.subtitulos:hover{
  cursor: pointer;
  color: #22A7F0 !important;
}


.titulos{
    font-family: 'Lobster', cursive;
    color: #fff !important;
    font-size: 25px;
}
.titulos:hover{
  cursor: pointer;
  color: #22A7F0 !important;
  transition: .5s;
}


.titulo-noticias-editar{
    font-family: 'Lobster', cursive;
    color: #000 !important;
    font-size: 30px;
}




.boton-paypal{
  margin-top:60px;
  margin-bottom: 50px;
}


/* Codigo para la polÃ­tica de cookies */


@keyframes desaparecer
{
0%    {bottom: 0px;}
80%   {bottom: 0px;}
100%    {bottom: -50px;}
}

@-webkit-keyframes desaparecer /* Safari and Chrome */
{
0%    {bottom: 0px;}
80%   {bottom: 0px;}
100%    {bottom: -50px;}
}

@keyframes aparecer
{
0%    {bottom: -38px;}
10%   {bottom: 0px;}
90%   {bottom: 0px;}
100%    {bottom: -38px;}
}

@-webkit-keyframes aparecer /* Safari and Chrome */
{
0%    {bottom: -38px;}
10%   {bottom: 0px;}
90%   {bottom: 0px;}
100%    {bottom: -38px;}
}
#cookiesms1:target {
    display: none;
}
.cookiesms{
  width:100%;
  height:43px;
  margin:0 auto;
  padding-left:1%;
        padding-top:5px;
        font-size: 1.2em;
  clear:both;
        font-weight: strong;
color: #333;
bottom:0px;
position:fixed;
left: 0px;
background-color: #FFF;
opacity:0.7;
filter:alpha(opacity=70); /* For IE8 and earlier */
transition: bottom 1s;
-webkit-transition:bottom 1s; /* Safari */
-webkit-box-shadow: 3px -3px 1px rgba(50, 50, 50, 0.56);
-moz-box-shadow:    3px -3px 1px rgba(50, 50, 50, 0.56);
box-shadow:         3px -3px 1px rgba(50, 50, 50, 0.56);
z-index:999999999;
}

 .cookiesms a{
  color: #2E2EFE;
}
 .cookiesms a:hover{
  color: #FA5858;
}

.cookiesms:hover{
bottom:0px;
}
.cookies2{
background-color: #FFF;
display:inline;
opacity:0.95;
filter:alpha(opacity=95);
position:absolute;
left:1%;
top:-30px;
font-size:15px;
height:30px;
padding-left:25px;
padding-right:25px;
-webkit-border-top-right-radius: 15px;
-webkit-border-top-left-radius: 15px;
-moz-border-radius-topright: 15px;
-moz-border-radius-topleft: 15px;
border-top-right-radius: 15px;
border-top-left-radius: 15px;
-webkit-box-shadow: 3px -3px 1px rgba(50, 50, 50, 0.56);
-moz-box-shadow:    3px -3px 1px rgba(50, 50, 50, 0.56);
box-shadow:         3px -3px 1px rgba(50, 50, 50, 0.56);
}




.cookies{
  background: #fff;
  color: #000;
}

a:link {
    text-decoration: none;
}








/* esta vaina me daña el slideshow *{
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-moz-transition:0.7s;
-ms-transition:1s;
-o-transition:1s;
-webkit-transition:1s;
transition:1s;

list-style:none;
text-decoration:none;
margin:0;
padding:0;}

*/




/* Texto Inicial */
.texto {
  padding:100px 0px;
  text-align: center;
  color:#fff;
  position: relative;
  font-weight: 300;
  z-index: 1;

}

.texto h2, .texto p {
  background: rgba(0,0,0,.9);
  display:inline-block;
  padding:10px 20px;
    z-index: 1;
}

.texto h2 {
  font-size:40px;
  letter-spacing: 2.5px;
  font-weight: normal;
    background:rgba(0,0,0,.6);  /* creo mi div class texto, mi <h2> mi titulo cuando lo ponga centro*/
    z-index: 1;
}

.texto p {
  font-size:20px;
  letter-spacing: 2.5px;           /* hago un salto de linea con <br>  despues del h2 y hago mi <p> para el www*/
    background:rgba(0,0,0,.6);

    z-index: 1;
}

/* Principal */


.principal {
color:#fff;
}

.principal article {
  padding:20px;
  background:#fff;
  margin-bottom: 30px;
  border-radius: 10px;
  position: relative;
  margin-top: 30px;
  background:rgba(0,0,0,.8);
  z-index: 1;

}

.principal article p {
  margin-bottom: 5px;
  line-height:24px;
  font-family: arial;
  z-index: 1;

}




.principal article .fecha {
color:#fff;
background: #1E8BC3;
float: right;
padding:5px;
margin-right: -20px;
font-weight: bold;
font-size: 15px;
z-index: 1;
}
.principal article .fecha:hover{
  cursor: pointer;
}
   article p a.mega{
    position: relative;
top: 30px;
  z-index: 3;
}
a.boton {
color: #3498db;
border: 3px #0000FF solid;
padding: 20px 60px 20px 60px;
background-color: none;
font-family: 'Black Ops One', cursive, verdana; /*fuentes: font-family: 'Roboto Mono', ; font-family: 'Permanent Marker', cursive;  font-family: 'Rock Salt', cursive;  font-family: 'Luckiest Guy', cursive;  font-family: 'Fugaz One', cursive;    font-family: 'Black Ops One', cursive;   font-family: 'Fredericka the Great', cursive;   font-family: 'Freckle Face', cursive;    font-family: 'Frijole', cursive;    font-family: 'Timmana', sans-serif;*/
font-size: 20px;
background-color: #000;
font-weight: bold;
text-decoration: none;
border-radius: 15px;
z-index: 9;
}
a.boton:hover {
font-style: italic;
box-shadow: 0px 0px 70px 0px #58FAF4; ;
color:#5858FA;

}
a.boton:active {
font-color: #fff;
}
a.boton:visited {
background-position: 0px -26px;
}



.color.azul {color: #00FFFF;}
.color.verde {color: #00FF40;}
.color.naranja {color: #e67e22;}
.color.rojo {color: #FF0000;}
.color.negro {color: #000;}
.color.blanco{color:#FFFFFF;}
.color.gris{color:#D1CECA;}
.color.morado{color:#E071F9;}
.color.amarillo{color:#F0F971;}
.color.azul2{color:#1100FA;}
.color.verde2{color:#00FAB3;}
.color.marron{color:#B07F4F;}
.color.azul3{color:#5C8EFF;}
.color.verde3{color:#98FF5C;}
.color.rosa{color:#FE80D4;}
.color.azul4{color:#CDEBFA;}


 #anohana{
  font-family:oswald, helvetica, arial, sans-serif;
  background-image: image-url("/assets/anime/fondos/anohana.jpg")  !important;
  min-width: 500px;
  max-width: 1700px;
  background-size:cover;
  background-attachment: fixed;
  background-position:0 0px;
  margin-top:-25px;
  z-index: 2;
}




.botonmega{
  width: 200px !important;
  height: 60px !important;
  margin-top: 50px;

}

 #error{
  background-image: image-url("/assets/error.png")  !important;
  min-width: 500px;
  max-width: 1700px;
  background-size:cover;
  background-attachment: fixed;
  background-position:0 0px;
  z-index: 2;
}


#myOverlay{
  z-index: 9 !important;
}

.navbar-default{
background-color: #000 !important;
font-family: 'Arial';
text-transform: uppercase;
font-size: 17px;
border-radius: 0px;
z-index: 8;
}

/*
@media screen and (max-width: 780px) {
    .navbar-default {
      margin-top: 20px !important; estaba en 20
      margin-bottom: 80px !important;
    }
}*/

.navbar {
    border-bottom: 1px #fff solid rgba(0,0,0,0.9);
    max-width: 1080px;
    margin: auto;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: #fff;  /*Sets the text hover color on navbar*/
background: #2C3E50;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >
 a:hover, .navbar-default .navbar-nav > .active > a:focus {
color: #fff ;/*BACKGROUND color for active*/
background: #2C3E50 !important;
}

  .navbar-default {
    background-color: #000;
    border-color: #030033;
}

  .dropdown-menu > li > a:hover,
   .dropdown-menu > li > a:focus {
    color: #262626;
   text-decoration: none;
  background-color: #66CCFF;  /*change color of links in drop down here*/
   }

 .nav > li > a:hover,
 .nav > li > a:focus {
    text-decoration: none;
    background-color: silver; /*Change rollover cell color here*/
  }


  .navbar-default .navbar-nav > li > a {
   color: white; /*Change active text color here*/
    }

.btn-default{
   color: #000 !important;
   font-size: 20px;
}
.btn-default ul{
   color: #000 !important;
   font-size: 20px;
}
.img-responsive{
  width: 550px;
}

/* portada del index
.portada-index{
  margin-top: -20px;
  background-image: image-url("/assets/anime/fondos/bg1.jpg");
  background-attachment: fixed;
  background-position:0 0px;
}*/



.descripcion-anime{
    font-family: 'Lobster', cursive;
    color: #000 !important;
    font-size: 25px;
}
.descripcion-anime:hover{
  cursor: pointer;
  color: #22A7F0 !important;
  transition: .5s;
}


.imagen_brillo{

  }

.hover_brillo{
  width:100%;
  height: 100%;
  background-image: image-url("/assets/brillo.png");
  position: absolute;;
  background-position: -265px 0;
  left:0px; top:0px;
  background-repeat:no-repeat;
    -webkit-transition: background-position .4s ease;
       -moz-transition: background-position .4s ease;
         -o-transition: background-position .4s ease;
            transition: background-position .4s ease;
}
.hover_brillo:hover{
  background-position: 400px 0;
}

.thumbnail:hover{
  border: 3px #22313F solid;
}



.user-details {
  position: relative;
  color: #000;
  margin-top: -20px;
  padding: 0;
}
.user-details .user-image {
  position: relative;
  z-index: 1;
  width: 76%;
  text-align: center;
}
.user-image img {
  clear: both;
  margin: auto;
  position: relative;
}

.user-details .user-info-block {
  width: 76%;
  position: absolute;
  top: 55px;
  background: rgb(228, 241, 254);
  color: #000;
  border-radius: 10px;
  z-index: 0;
  padding-top: 35px;
}
.user-info-block .user-heading {
  width: 100%;
  text-align: center;
  margin: 10px 0 0;
}
.user-info-block .navigation {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #428BCA;
  border-top: 1px solid #428BCA;
}
.navigation li {
  float: left;
  margin: 0;
  padding: 0;
}
.navigation li a {
  padding: 20px 30px;
  float: left;
}
.navigation li.active a {
  background: #428BCA;
  color: #fff;
}
.user-info-block .user-body {
  float: left;
  padding: 5%;
  width: 90%;
}
.user-body .tab-content > div {
  float: left;
  width: 100%;
}
.user-body .tab-content h4 {
  width: 100%;
  margin: 10px 0;
  color: #333;
}



@media screen and (min-width: 480px) {
  .user-details .user-image {
    position: relative;
    z-index: 1;
    width: 100%;
    text-align: center;
  }
  .user-image img {
    clear: both;
    margin: auto;
    position: relative;
  }

  .user-details .user-info-block {
    width: 100%;
    position: absolute;
    top: 55px;
    background: rgb(228, 241, 254);
    color: #000;
    border-radius: 10px;
    z-index: 0;
    padding-top: 35px;
  }
}

.round-image-50 {
    background: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 1000px;

    -moz-border-radius: 100px;
    -webkit-border-radius: 1000px;
    height: 100px;
    width: 100px;
    overflow: hidden;
    img { width: 100% }
}


#hcr {
position:relative;;
z-index:+1000;
}
* html #hcr {position:relative;}

.hcrcontent {
float:right;
border:2px solid #3498DB;
background: #000;
padding:5px;
}
.hc-credit {font-size:9px}
.hc-credit a {text-decoration:none}

.myButton2 {
    background-color:#01A9DB;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #262922;
    display:inline-block;
    cursor:pointer;
    color:#fff;
    font-family:Arial;
    font-size:15px;
    padding:7px 15px;
    text-decoration:none;
    text-shadow:0px 0px 0px #263666;
    float: right;
}
.myButton2:hover {
    background-color:#0688fa;
}
.myButton2:active {
    position:relative;
    top:1px;
}

hr.style1{
	border-top: 1px solid #8c8b8b;
}






.rory{
position: fixed;
right: 0;
bottom: 0;
width:320px;
z-index:-1;
}

.steins{
  position: fixed;
  left: 0;
  bottom: 0;
  width:280px;
  z-index:-1;
}





.letras{
  position: relative;
  top: 0;
  background: #fff;
  z-index: 9999999999999999;

}

.usuarios{
  color: #000;
  font-size: 20px;
}

.image{
  width: 700px;
}

.color-gris{
  color:#3498DB;
  font-size: 20px;
}
.color-gris:hover{
  color:#67809F;
  cursor: pointer;
}

.boton-sidebar{
	position: fixed;
	margin-top: -70px;
}

.w3-sidebar{
	width: 350px;
	margin-top: -70px;
}
