/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap-sprockets";
@import "bootstrap";

  .reviews-panel{

/*codigo aqui pero lo borre xd*/
  }


  body{
  background: #2980b9;
  }

  .review_title{
    margin: 0 0 20px 0;
  }

  .reviews{
    padding: 15px 0;
    border-bottom: 1px solid #EAEAEA;

      .star-rating{
      padding-bottom: 8px;
      }
  }

.error{
background: url(/assets/error.png) no-repeat center center fixed;
width:auto;

}

nav.navbar {
    background-color: #f5f7f9;
}



.btn-group{
  margin-top: 4.5px;
}


h1,h2,h3,h4,h5,h6{
  font-weight: 500;
}

a{
  text-decoration: none;
  color: inherit;
}




.btn-default{
   color: #000 !important;
}

#main_content {
  margin-left: 20px;
  margin-right: 20px;
  background: #fff;
  padding: 10px 10px 10px 10px;
  #header {
    padding: 1em 3em;
    font-size: 1.5em;
    border-bottom: 1px solid #d6dce0;
    background: #f5f7f9;
    color: #000;
    p {
      display: inline;
    }
    a {
      color: #9eafba;
      text-decoration: none;
    }
    .buttons {
      float: right;
      margin-top: -36px;
      .button {

        font-size: .8em;
        margin-left: .5em;
      }
    }
  }
  .post_wrapper {
    padding: 3em;
    border-bottom: 1px solid #d6dce0;
    .title {
      margin: 0;
      a {
        font-weight: 500;
        text-decoration: none;
        color: #2a2f35;
        font-size: 1.5em;
        &:hover {
          color: #33acb7;
        }
      }
    }
    .date_and_author {
      color: #9eafba;
      margin: .5em 0 0 0;
    }
  }
  #post_content {

    padding: 1em 3em;
    .title {
      font-weight: 500;
      text-decoration: none;
      color: #2a2f35;
      font-size: 2.5em;
      margin-bottom: 0;
    }
    .body {

      font-size: 1.5em;
      line-height: 1.75;
    }
    .date_and_author {
      color: #9eafba;
      margin: .5em 0 2em 0;
    }
    #comments {
      h2 {
        margin: 3em 0 1em 0;
        border-bottom: 1px solid #d6dce0;
        padding-bottom: 0.5em;
      }
      h3 {
        margin-top: 2em;
      }
      .comment {

        border-bottom: 1px solid #d6dce0;
        padding: 1.5em 2em;
        .clear_both {
          clear: both;
        }
        &:after {
          clear: both;
        }
        .comment_content {

          float: left;
          .comment_name {
            margin: 1em 0 0 0;
            font-size: 0.7em;
            text-transform: uppercase;
          }
          .comment_body {
            font-size: 1.5em;
            margin: 0.2em 0 0 0;
          }
          .comment_time {
            margin-top: 1.2em;
            font-size: .8em;
          }
        }
        .button {
          float: right;
        }
      }
      input[type="text"], textarea {
        width: 50%;
      }
    }
  }
  #page_wrapper {
  
    padding: 3em;
    #profile_image {
      width: 300px;
      float: left;
      margin-right: 2em;
      img {
        width: 100%;
        border-radius: 0.35em;
      }
    }
    #content {
      h1 {
        font-weight: 500;
      }
      p {
        font-size: 1.1em;
        line-height: 1.75;
      }
      a {
        color: #33acb7;
        font-weight: 700;
        text-decoration: none;
      }
    }
  }
  .links {
    margin: 2em 0;
  }
  input[type="text"], input[type="email"], input[type="password"], textarea {
    width: 90%;
    border: 1px solid #d6dce0;
    border-radius: .35em;
    margin-top: 10px;
    padding: .5em 1em;
    line-height: 1.75;
  }
  input[type="text"] {
    height: 50px;
  }
  textarea {
    min-height: 180px;
  }
  input[type="submit"] {
    outline: none;
    background: transparent;
    border: 1px solid #d6dce0;
    padding: .5em 1.5em;
    font-size: 1.1em;
    border-radius: 1.5em;
    margin-left: .5em;
    &:hover {
      border: 1px solid #33acb7;
      color: #33acb7;
    }
  }
}

.noticias{
  color: #000 !important;
  font-size: 1.5em;
}




#disqus_thread{background: #000;}


.portada-anime img{
  width: 660px;
  height: 590px;
  margin-bottom: 20px;
}

.capturas img{
  width: 700px;
  height: 600px;
  margin-bottom:10px;
}



div.img1 {
  font-family:oswald, helvetica, arial, sans-serif;
  background: url(/assets/images/anime/fondos/anohana.jpg);
  min-width: 500px;
  max-width: 1700px;
  background-size:cover;
  background-attachment: fixed; 
  background-position:0 0px;
  z-index: 2;
}


.titulo-menu{
    font-family: 'Lobster', cursive;
    color: #000 !important;
    font-size: 25px;
}

.titulo-anime{
    font-family: 'Lobster', cursive;
    color: #000 !important;
    font-size: 25px;
}

.titulo-noticias{
    font-family: 'Lobster', cursive;
    color: #000 !important;
    font-size: 25px;
}


.titulo-noticias-editar{
    font-family: 'Lobster', cursive;
    color: #000 !important;
    font-size: 30px;
}

.titulo-donar{

  color: #000 !important;  
}

.footer {
  background-color: #f5f7f9;
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
  padding-top:20px;
}

