.reproductor{
	top:0;
}

body {
	background:#f2f2f2;
}

.main {
	margin-top:10px!important;
	width: 1080px;
	margin:auto;
	height: 390px;
}

.slides {
	font-family: 'Rock Salt', cursive;
	width:1080px;
	margin:auto;
	height:380px;
}

.slides img {
	width:1080px;
	margin:auto;
	height: 390px;
}

.slidesjs-pagination {
	background:#424242;
	list-style:none;
	overflow:hidden;

}

.slidesjs-pagination li {
	float:left;
}

.slidesjs-pagination li a {
	display:block;
	padding:10px 20px;
	color:#fff;
	text-decoration:none;

}

.slidesjs-pagination li a:hover {
	background: #2E9AFE;
}

.slidesjs-pagination li a:hover{
	background: #2E9AFE;
}

.slidesjs-navigation:hover {
	color: #fff;
	background: #2E9AFE;
}
.slides .active {
	background:#000;
}

.slidesjs-navigation{
	background:#000;
	color:#fff;
	text-decoration:none;
	display:inline-block;
	padding:13.5px 20px;
	float:right;
}

.contenedor-slides{
	background: url(/assets/anime/slideshow/portada2.jpg);
  background-position: center center;
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-position:0 0px;
	padding: 100px;
	padding-top: 200px;
	background-size: 100%;
	padding-bottom: 140px;
}
.contenedor-slides2{
	background: url(/assets/portada.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position:0 0px;
	background-size:cover;
}

.contenedor-todo{
	margin-top: 10px;
}

.contenedor-menu{
	background: url(/assets/anime/slideshow/portada2.jpg);
  background-position: center center;
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-position:0 0px;
  /*background-size:cover;*/
	background-size: 100%;
	padding-bottom: 30px;
}



@media screen and (max-width: 780px) {
	.contenedor-menu{
		padding: 0px;
  }
	.contenedor-slides{
		padding: 0px;
	}
	.contenedor-todo{
		margin-top: 0px;
	}
	.main {
		margin-top:10px!important;
		width: auto;
		height: 390px;
	}

	.slides {
		font-family: 'Rock Salt', cursive;
		width:auto;
		height:380px;
	}

	.slides img {
		width:auto;
		height: 390px;
	}

}

@media screen and (max-width: 1080px) {
	.main {
		margin-top:10px!important;
		width: auto;
		height: 390px;
	}

	.slides {
		font-family: 'Rock Salt', cursive;
		width:auto;
		height:380px;
	}

	.slides img {
		width:auto;
		height: 390px;
	}
}





.boton-sidebar{
	position: fixed;
}
