* {
	margin:0;
	padding:0;
}
 
body {
	background:#f2f2f2;
}
 
.main {
	width:90%;
	max-width:1000px;
	margin:20px auto;
}
 
.slides {
	font-family: 'Rock Salt', cursive;
	width:100%;
}
 
.slides img {
	width:100%;
}
 
.slidesjs-pagination {
	background:#424242;
	list-style:none;
	overflow:hidden;
}
 
.slidesjs-pagination li {
	float:left;
}
 
.slidesjs-pagination li a {
	display:block;
	padding:10px 20px;
	color:#fff;
	text-decoration:none;
}
 
.slidesjs-pagination li a:hover {
background: #2E9AFE;
}
 
.slidesjs-pagination li a:hover{
	background: #2E9AFE;

}

.slidesjs-navigation:hover {
	color: #fff;
	background: #2E9AFE;
}
.slides .active {
	background:#000;
}
 
.slidesjs-navigation{
	background:#000;
	color:#fff;
	text-decoration:none;
	display:inline-block;
	padding:13.5px 20px;
	float:right;
}

