<p>Bienvenido a nuestra comunidad <%= @email %>!</p>

<p>Puedes confirmar tu correo dando clic en el enlace de abajo, esperamos disfrutes estar en nuestra comunidad!:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
