<p>Hola <%= @resource.email %>!</p>

<p>Alguien ha solicitado cambiar tu contraseña, si has sido tu por favor has clic en el link de abajo.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no has sido tu, por favor ignora este correo.</p>
<p>Tu contraseña no cambiara hasta que entres en el link y escribas una nueva.</p>
