
<div class="panel panel-default">

  <div class="panel-heading">
  <div class="container">
    <h1>Nueva critica</h1>
  </div>
 

<%= render 'form' %>
<br>

<%= link_to 'Atras', anime_path(@anime), class: "btn btn-default" %><br><br>
</div> 
</div>